html {
  font-family: "Raleway";
  letter-spacing: 1px;
  font-size: 1.5em;
  cursor: crosshair;
  }

a, a:visited {
  color: #FFFFFF;
  text-decoration: none;
  cursor: crosshair;
}

a:hover, a:active {
  color: #FFFFFF;
  text-decoration: none;
  cursor: crosshair;
}

#blockcontent {
   opacity: .35;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 3px;
  color: #FFFFFF;
  width: 144px;
  height: 53px;
  margin-left: 25px;
  margin-top: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0.75);
}

#blockcontent:hover, #blockcontent:active {
  opacity: .75;
}

#blockcontent img {
  padding-top: 2px;
  height: 50px;
}

#blockcontent a {
  top: -15px;
  position: relative;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 60px;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-device-width : 120px) and (max-device-width : 600px) {
  html {
    font-family: "Raleway";
    letter-spacing: 5px;
    color: #000000;
    font-size: 4em;
  }

  #logo img {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 105px;
    width: 100px;
  }

  #name {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 20px;
    float: right;
    display: inline;
  }

  #link {  
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
    float: right;
    display: inline;
    color: #000000;
    text-align: center;
    width: 300px;
    height: 100px;
    z-index: 99999;
    border-color: #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  a, a:visited {
  color: #000000;
  text-decoration: none;
  cursor: crosshair;
}

a:hover, a:active {
  color: #000000;
  text-decoration: none;
  cursor: crosshair;
}
}

/* BigVideo Styles */
#big-video-wrap{overflow:hidden;position:fixed;height:100%;width:100%;top:0;left:0;}
#big-video-vid,#big-video-image{position:absolute;}
#big-video-control-container{position:fixed;bottom:20px;padding: 0 20px;width:100%;
  -webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;}
#big-video-control{width:100%;height:16px;position:relative;}
#big-video-control-middle{margin: 0 56px 0 24px;}
#big-video-control-bar{width:100%;height:16px;position:relative;cursor:pointer;}
#big-video-control-progress{position:absolute;top:7px;height:3px;width:0%;background:#fff;}
#big-video-control-track{position:absolute;top:8px;height:1px;width:100%;background:#fff;}
#big-video-control-bound-left{left:0;}
#big-video-control-bound-right{right:-1px}
#big-video-control-track .ui-slider-handle {opacity:0;}
#big-video-control-playhead{left:30%;}
#big-video-control-play{position:absolute;top:0;left:0;height:16px;width:16px;background-image:url('bigvideo.png');}
#big-video-control-timer{position:absolute;top:1px;right:0;color:#fff;font-size:11px;}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{position:absolute;top:0;height:16px;width:1px;background:#fff;}
#big-video-control .ui-slider-handle{border-left:solid 1px #fff; width:16px;height:16px;position:absolute;top:-8px;}
.transparent{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;}
.vjs-big-play-button{display:none !important;}